.Rproj.user
.Rhistory
.RData
.Ruserdata

stats/rsconnect/*
stats/utils

stats/kids_novelty_cache
stats/kids_novelty_files
/graphs

*.DS_Store
webppl/output/

saves_old/*

saves/model_pred_dmm.rds
saves/model_pred_flat.rds
saves/model_pred_global.rds
saves/model_pred_mm.rds
saves/model_pred_prag.rds
saves/model_pred_prag_fb.rds
saves/model_pred_prior.rds

paper/supplementary_material_files/*
paper/supplementary_material_cache/*

paper/manuscript_references.Rmd
paper/manuscript.tex
paper/manuscript.docx
paper/manuscript_references.html
paper/science.csl
paper/rsconnect/*
paper/visualizations.Rmd

webppl/model_re.wppl
webppl/model-rsa.wppl
webppl/move/*