.Rproj.user
.Rhistory
.RData
.Ruserdata

stats/rsconnect/*
stats/utils

stats/kids_novelty_cache
stats/kids_novelty_files
/graphs

*.DS_Store
webppl/output/

saves/model_pred.rds
saves/model_pred_prag.rds
saves/model_pred_flat.rds
saves/model_pred_prior.rds
saves/model_pred_global.rds